/Shared Bills Splitter/task/build/classes/java/main/splitter/Account.class
/.idea/*
/Shared Bills Splitter/task/out/*
/Shared Bills Splitter/task/build/*
/.gradle/*
/course-info.yaml
/course-remote-info.yaml

/Shared Bills Splitter/Friends help friends/task.html
/Shared Bills Splitter/Friends help friends/task-info.yaml
/Shared Bills Splitter/Friends help friends/task-remote-info.yaml
/Shared Bills Splitter/Gift groups/task.html
/Shared Bills Splitter/Gift groups/task-info.yaml
/Shared Bills Splitter/Gift groups/task-remote-info.yaml
/Shared Bills Splitter/Happy birthday_/task.html
/Shared Bills Splitter/Happy birthday_/task-info.yaml
/Shared Bills Splitter/Happy birthday_/task-remote-info.yaml
/Shared Bills Splitter/Party time_/task.html
/Shared Bills Splitter/Party time_/task-info.yaml
/Shared Bills Splitter/Party time_/task-remote-info.yaml
/Shared Bills Splitter/Penny saved, penny earned/task.html
/Shared Bills Splitter/Penny saved, penny earned/task-info.yaml
/Shared Bills Splitter/Penny saved, penny earned/task-remote-info.yaml
/Shared Bills Splitter/Secret Santa/task.html
/Shared Bills Splitter/Secret Santa/task-info.yaml
/Shared Bills Splitter/Secret Santa/task-remote-info.yaml
/Shared Bills Splitter/lesson-info.yaml
/Problems/Days of week/out/*
/Problems/Hidden enumeration/out/*
/Problems/lesson-info.yaml
/Problems/Seconds between two time points/out/*
/Problems/Shapes area/out/*
/Problems/Ascending and descending sorting/task-info.yaml
/Problems/Concat positive numbers/task-info.yaml
/Problems/Creating list/task-info.yaml
/Problems/Currencies/task-info.yaml
/Problems/Days of week/task-info.yaml
/Problems/Find the nearest number/task-info.yaml
/Problems/Hidden enumeration/task-info.yaml
/Problems/Output the list's elements/task-info.yaml
/Problems/Pastry packing optimization/task-info.yaml
/Problems/Publications/task-info.yaml
/Problems/Resolve a diamond problem/task-info.yaml
/Problems/Return time without seconds/task-info.yaml
/Problems/Robot control/task-info.yaml
/Problems/Saying animals/task-info.yaml
/Problems/Seconds between two time points/task-info.yaml
/Problems/Seconds since start of a day/task-info.yaml
/Problems/Shapes area/task-info.yaml
/Problems/Ascending and descending sorting/task-remote-info.yaml
/Problems/Concat positive numbers/task-remote-info.yaml
/Problems/Creating list/task-remote-info.yaml
/Problems/Currencies/task-remote-info.yaml
/Problems/Days of week/task-remote-info.yaml
/Problems/Find the nearest number/task-remote-info.yaml
/Problems/Hidden enumeration/task-remote-info.yaml
/Problems/Output the list's elements/task-remote-info.yaml
/Problems/Pastry packing optimization/task-remote-info.yaml
/Problems/Publications/task-remote-info.yaml
/Problems/Resolve a diamond problem/task-remote-info.yaml
/Problems/Return time without seconds/task-remote-info.yaml
/Problems/Robot control/task-remote-info.yaml
/Problems/Saying animals/task-remote-info.yaml
/Problems/Seconds between two time points/task-remote-info.yaml
/Problems/Seconds since start of a day/task-remote-info.yaml
/Problems/Shapes area/task-remote-info.yaml
